<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

	<!-- 安全管理器 -->
	<bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
		<property name="realms">
			<list>
				<ref bean="securityRealm" />
			</list>
		</property>
		<!-- cacheManager,集合spring缓存工厂 -->
		<!-- <property name="cacheManager" ref="shiroEhcacheManager" /> -->
		<!-- <property name="sessionManager" ref="sessionManager" /> -->
	</bean>

	<bean class="com.chankin.ssms.web.security.SecurityRealm" id="securityRealm">
		<property name="credentialsMatcher">
			<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
				<property name="hashAlgorithmName" value="MD5"></property>
				<property name="hashIterations" value="1024"></property>
			</bean>
		</property>
	</bean>

	<!-- Shiro生命周期处理器 -->
	<!--配置 LifecycleBeanPostProcessor. 可以自定的来调用配置在 Spring IOC 容器中 shiro bean 的生命周期方法.-->
	<bean class="org.apache.shiro.spring.LifecycleBeanPostProcessor" id="lifecycleBeanPostProcessor" />

	<!--支持shiro注解，如果没有使用可以不开启-->
	<bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"
		depends-on="lifecycleBeanPostProcessor" />
	<bean class="org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<!--缓存管理器 使用Ehcache-->
	<bean class="org.apache.shiro.cache.ehcache.EhCacheManager" id="shiroEhcacheManager">
		<property name="cacheManagerConfigFile" value="classpath:ehcache-shiro.xml" />
	</bean>

	<!-- 会话 ID 生成器 -->
	<bean id="sessionIdGenerator" class="org.apache.shiro.session.mgt.eis.JavaUuidSessionIdGenerator" />

	<!--会话Dao-->
	<bean class="org.apache.shiro.session.mgt.eis.MemorySessionDAO" id="sessionDAO" />

	<!--会话管理器-->
	<bean class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager" id="sessionManager">
		<property name="sessionDAO" ref="sessionDAO" />
	</bean>

	<bean class="org.apache.shiro.spring.web.ShiroFilterFactoryBean" id="shiroFilter">
		<property name="securityManager" ref="securityManager" />
		<property name="loginUrl" value="/rest/page/login" />
		<property name="successUrl" value="/rest/index" />
		<property name="unauthorizedUrl" value="/rest/page/401" />
		<property name="filterChainDefinitions">
			<value>
				<!-- 静态资源允许访问 -->
				/app/** = anon
				/assets/** = anon
				<!-- 登录页允许访问 -->
				/rest/user/login = anon
				<!-- 其他资源需要认证 -->
				/** = authc
			</value>
		</property>
	</bean>

</beans>